.userInput {
  height: 100px;
  width: 500px;
  border: 1px black solid;
  padding: 10px;
  margin: 10px auto;

}

.container {
width: 600px;
height: 800px;
border: 2px greenyellow dotted;
margin: 10px auto;
}

h1 {
  text-align: center;
  color: dodgerblue;
  margin: 1px;
}

.box {
  border: black 2px solid;
  width: 400px;
  height: 400px;
  margin: auto;
  display: grid;
  grid-template-rows: 1fr 1fr 1fr 1fr;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 4px;
}

button {
  font-size: 30px;
}
